.row{
    color:  #fff;;
    margin-left: 20px;
}

.rows_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.rows_posters::-webkit-scrollbar{
    display: none;
}
.row_poster{
    object-fit: contain;
    max-height: 130px;
    width: 100%;
    margin-right: 10px;
    transition: transform 450ms;
}

.row_poster:hover{
    transform: scale(1.08);
}   
.large_row_poster{
    max-height: 250px;
}
large_row_poster:hover{
    transform: scale(1.09);
}